.body-style{
  background: url(../img/fondo.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.top-style{
  background: rgba(114,204,255);
}
.top-style img{
  width: 40%;
}
.img-social img{
  border-radius: 5px;
}
.informacion img{
  width: 40%;
}
.autor{
  margin-left: 10%;
  margin-right: 10%;
  }
.autor img{
  align-items:center;
}
.formulario{
  margin-left:0%;
  margin-right: 2%;
}
